# To ignore a previously committed file use
# git rm --cached <filename>
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Steps to remove file or directory from repo
# git rm -r --cached File-or-FolderName
# git commit -m "Removed folder from repository"
# 

.DS_Store
*.pac
history.*
proxy-exports.txt
1pw/
custom/
zsh_history
